.slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex !important;
  gap: 4rem;
}

.slider-text {
  padding: 10px;
}

.slider-image {
  flex: 1;
  padding: 20px;
  text-align: right;
}

.slider-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .slider-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .slider-image {
    text-align: center;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pulse-circle {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--primary-blue);
  animation: pulse 2s infinite;
}

.pulse-circle.delay-1 {
  animation-delay: 0.5s;
}

.pulse-circle.delay-2 {
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}